body {
    margin: 0px;
    padding: 0px;
    background: #ccc;
}

.billform {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
}

h2 {
    margin: 40px 0px;
    color: #0c5460;
}

/*.billform label {*/
/*text-align: right;*/
/*}*/
.billform label {
    color: #555;
}

.billform label span {
    display: block;
    color: #f00;
    font-size: 12px;
    font-weight: normal;
}

.billform input[type=checkbox] {
    margin-right: 10px;
}
